{% block content %}
	<h1>Hello, world!</h1>
	<p>You are using the Mixture + Bourbon (v3.1.2.1) boilerplate.</p>
	<p><a href="http://bourbon.io/" class="btn">Read the Bourbon documentation &raquo;</a></p>
	<p><a href="http://docs.mixture.io" class="btn">Read the Mixture documentation &raquo;</a></p>
{% endblock %}
